.row-flex {
  display: flex;
  flex-wrap: wrap;
  width:100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing:border-box;
  border-radius: 4px;
}
[class*="col-"]{
  margin-bottom: 30px;
}
body {
  padding: 200px 0;
  font-family: Roboto, sans-serif;
}

.content {
  height: 100%;
  padding: 20px 20px 10px;
  color: #fff;
}
.content h3 {
  margin-top: 0px;
  font-weight: 300;
}
.colour-1 {
  background: #483C46;
  color: #fff;
}

.colour-2 {
  background: #3C6E71;
}
